---
import TimeConverter from "../components/TimeConverter.astro";
---

<html lang="en">
  <head>
    <title>What'sTheTime</title>
  </head>
  <body class="bg-gray-100 dark:bg-black">
    <TimeConverter />
  </body>
</html>
